
#herbe {
	position:fixed ;
	top:0px ;
	left:0px ;
	width:100% ;
	height:100% ;
	z-index : -1
}

#chrono {
	position:fixed ;
	top:1% ;
	left:88% ;
	width:10% ;
}
#HAUT {
	position:fixed;
	top:90%;
	left:90%;
}
#missile {
	position:fixed;
	width:10%;
	height:2%;
	z-index:0
}
#canon {
	position:fixed;
	width:25%;
	height:12.5%;
	z-index:1
}

#carres {
	width : 100% ;
	height : 100% ;
}
#co {
	width : 7% ;
	height : 7% ;
	
}
#HC5 {
	position:fixed ;
	top:0px ;
	left:0px ;
	width:100% ;
	height:100% ;
	z-index : 10
}
#bouton {
	position:fixed ;
	top: 0%;
	left: 20%;
	width: 7%;
	height: 14%;	
	z-index:5
}

#boutonbas {
	position:fixed ;
	top: 86%;
	left: 20%;
	width: 7%;
	height: 14%;	
	z-index:5
}

#boutonrouge {
	position:fixed;
	top: 86%;
	left: 0%;
	width: 10%;
	height: 14%;	
	z-index:5
	
}

#boutonbleu{
	position:fixed;
	top: 86%;
	left: 0%;
	width: 10%;
	height: 14%;	
	z-index:5
	
}






